.side-bar
  .side-bar__header
    .side-bar__header__items
      .user
        masa
      .icons
        = link_to '#' do
          =icon('far','edit')
        = link_to '#' do
          =icon('fas','cog')

  .side-bar__group-list
    .side-bar__group-list__summary
      .name
        %p techcamp
      .latest-message
        %p まだメッセージがありません
    .side-bar__group-list__summary
      .name
        %p techcamp
      .latest-message
        %p まだメッセージがありません